#root {
  box-sizing: content-box;
  display: block;
  padding: 28px 38px;
  max-width: 600px;
  margin-top: 30px;
  border-radius: 16px;
  background-color: #f8b9d7;
}

.weather {
  margin: 0auto;
  display: block;
  font-family: "DomaineDisplayNarrow", Georgia, serif;
  color: #e12189;
  padding: 40px 40px;
  background: rgba(245, 236, 236, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(112, 68, 101, 0.2);
  backdrop-filter: blur(10.5px);
  border: 4px solid #fff;
}
footer {
  display: block;
  text-align: center;
}

#currentCity {
  font-size: 38px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
#currentDate,
#currentTime {
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
}
.displaycurrent {
  box-sizing: content-box;
  display: block;
  text-align: center;
  padding: 10px 10px 0px 10px;
  border-radius: 16px;
  font-size: 16x;
  transition: all 150ms ease-in;
}

.description {
  font-size: 16px;
}
.temp-range {
  text-align: right;
  margin: 0 auto;
  padding: 0 auto;
}

.forecast-body:hover,
.primary-btn:hover {
  background: rgba(247, 246, 245, 0.882);
}
li {
  list-style: none;
  font-size: 16px;
  text-align: right;
}

.forecast-body {
  display: block;

  font-size: 16px;
  text-align: center;
  border-radius: 16px;
  transition: all 150ms ease-in;
  margin: 0auto;
}
.future-temp {
  padding-top: 14px;
  font-weight: bold;
}

.future-date {
  padding-top: 14px;
}

.form-control {
  box-sizing: content-box;
  background: #fff;
  border-color: #ed5d9c;
}

.temperature {
  display: inline-flex;
}
.units {
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  cursor: default;
}
